MONGODB_URI=mongodb+srv://user:pass@cluster0.xxxxx.mongodb.net/cocsync?retryWrites=true&w=majority
GROQ_API_KEY=gsk_xxxxx
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=123456789
CLOUDINARY_API_SECRET=abcdef
PORT=3001
CLIENT_URL=http://localhost:5173
